table {
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.section1 h1 {
    display: flex;
    justify-content: center;
}